.shop__contact{
    background: var(--color-bg);
}

.shop__contact-info svg{
    color: var(--color-letter);
    font-size: 50px;

    margin-top: 2rem;
}

@media screen and (max-width: 650px) {
    .app__wrapper_img iframe{
        width: 450px;
    }
}